* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
.app {
  width: 100vw;
}
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.header {
  margin-top: 20px;
  width: 100%;
  display: flex;
  align-items: center;
}
.title {
  width: 60%;
  text-align: center;
  font-size: 95%;
}
.github {
  display: flex;
  justify-content: center;
  width: 20%;
}
.users--container {
  margin-top: 10px;
  width: 80%;
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}
.name--container {
  margin-top: 30px;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  border-radius: 30px;
  font-size: 1.2rem;
  background-color: #d0ffcf;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 44%;
  height: 80px;
  cursor: pointer;
  transition: ease-in-out 0.4s;
}
.name--container:hover {
  background-color: #449642;
  color: rgb(238, 238, 238);
  font-size: 1.6rem;
}
.modal {
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  align-items: center;
}
.modal--container {
  height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-style: solid;
  border-width: 2px;
  border-radius: 20px;
  width: 90%;
  gap: 25px;
  background-color: #dbffda;
  padding: 40px;
  overflow: auto;
}
.modal--header {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 200px;
  font-size: 3rem;
}
.modal--title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: underline;
}
.modal--body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.post--container {
  border-radius: 10px;
  border-style: solid;
  display: flex;
  gap: 40px;
  flex-direction: column;
  align-items: center;
  width: 85%;
  height: 180px;
  text-align: center;
  overflow: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}
.modal--button {
  cursor: pointer;
  font-size: 1.8rem;
}
.modal--space {
  width: 15%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
a {
  display: flex;
  gap: 4px;
  align-items: center;
  text-decoration: none;
}
img {
  width: 25px;
}
